CompileFlags:
  Add:
    - -std=c++23

Diagnostics:
  Suppress:
    - unused-includes
    - missing-includes
  UnusedIncludes: None
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-identifier-naming
    Remove:
      - readability-magic-numbers
      - bugprone-easily-swappable-parameters

Index:
  Background: Build

---
If:
  PathMatch: [detours/.*, mini_gzip/.*]
Diagnostics:
  Suppress: "*"
